/* Organization:
 - Essential style & structures 
 - Main content
*/


/* Essential styles & structure */
:root {
  /* Color system */
  --almost-white: #fffdfa;
  --space-blue: #00001a;
  --gun-metal: #5e607a;
  --salmon: #f15d51;
  --silver: #c5c6ce;
  --yellow: #e9aa52;
  /* fonts */
  font-size: 15px;
  line-height: 26px;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: var(--almost-white);
  position: relative;
  max-width: 1425px;
  margin: auto;
}
h1 {
  font-size: 3.73rem;
  line-height: 3.73rem;
}
h2 {
  font-size: 2.67rem;
  line-height: 2.67rem;;
}
h3 {
  font-size: 2.13rem;
  line-height: 2.13rem;;
}
h4 {
  font-size: 1.33rem;
  line-height: 1.6rem;
}
h5 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
h1,
h4,
h5 {
  font-weight: 800;
}
h2,
h3 {
  font-weight: 700;
}
h4 {
  margin-bottom: 0.5rem;
}
p {
  color: var(--silver);
}
button {
  color: var(--almost-white);
  font-size: 0.93rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  line-height: 1.6rem;
  background-color: var(--salmon);
  padding-block: 0.8rem;
  padding-inline: 2.2rem;
}
button:hover {
  background-color: var(--space-blue);
}
#menu-open-button {
  margin-left: auto;
  width: 2rem;
  height: 1.13rem;
  z-index: 9999;
  cursor: pointer;
}
.menu-open-button {
  display: none;
}
#menu-close-button {
  position: fixed;
  top: 1.8rem;
  right: 1.33rem;
  width: 2rem;
  height: 2rem;
  z-index: 9999;
  cursor: pointer;
}

/* Main content */
nav,
main {
  padding-inline: 11rem;
}
nav {
  padding-top: 5.93rem;
  margin-bottom: 3.67rem;
  display: flex;
  align-items: center;
  position: relative;
}
#nav-menu {
  margin-left: auto;
  list-style: none;
  display: flex;
  gap: 2.67rem;
  color: var(--gun-metal);
}
#nav-menu a {
  color: inherit;
  text-decoration: none;
}
#nav-menu a:hover {
  color: var(--salmon);
}
#main {
  position: relative;
  padding-bottom: 6rem;
}
.primary-grid-container {
  counter-reset: cards;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4.73rem;
}
.feature-grid-container {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 1rem;
}
.feature-image-container {
  grid-column: 1 / span 2;
  /* grid-row: 1; */
  object-fit: cover;
  width: 100%;
}
#mobile-image {
  display: none;
}
.article-abstract {
  margin-left: 0.5rem;
}
.article-abstract p {
  color: var(--gun-metal);
  margin-bottom: 2rem;
}
.new-headlines-container {
  grid-row: 1 / span 2;
  color: var(--almost-white);
  background-color: var(--space-blue);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  padding-top: 2.13rem;
  padding-inline: 1.6rem;
}
.new-headlines-container > * {
  flex: 1;
}
.new-headlines-container > h2 {
  color: var(--yellow);
  flex: 0;
}
.new-headlines {
  border-bottom: 1px solid var(--gun-metal);
}
.new-headlines:last-child {
  border: none;
  align-self: end;
}
.new-headlines > a {
  color: inherit;
  text-decoration: none;
}
.new-headlines > a:hover > h4 {
  color: var(--yellow);
}
.new-headlines p {
  padding-bottom: 1rem;
}
.article-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.article-cards > img {
  aspect-ratio: 1 / 1.25;
  width: 100px;
}
.article-copy {
  grid-column: 2 / span 2;
}
.article-copy > h5::before {
  counter-increment: cards;
  content: "0" counter(cards) "\a";
  white-space: pre;
  color: var(--silver);
  font-size: 2.13rem;
  font-weight: 700;
  display: block;
  margin-bottom: 1.2rem;
}
.article-copy > h5 {
  margin-bottom: 0.6rem;
}
.article-copy a {
  color: inherit;
  text-decoration: none;
}
.article-copy a:hover {
  color: var(--salmon);
}
.article-copy > p {
  color: var(--gun-metal);
  padding-right: 0.5rem;
  line-height: 1.73rem;
}
@media (max-width: 1175px) {
  .feature-grid-container > * {
    grid-column: 1 / span 2;
  }
  .feature-grid-container > h1 {
    margin-block: auto;
  }
}
@media (max-width: 1000px) {
  nav,
  main {
    padding-inline: 13.5%;
  }
  #nav-menu {
    gap: 2rem;
  }
  #desktop-image {
    display: none;
  }
  #mobile-image {
    display: block;
  }
}
@media (max-width: 800px) {
  nav,
  main {
    padding-inline: 10%;
  }
  #nav-menu {
    gap: 1.5rem;
  }
}
@media (max-width: 650px) {
  nav,
  main {
    padding-inline: 7%;
  }
}
@media (max-width: 600px) {
  nav {
    padding-top: 2.13rem;
    margin-bottom: 2.13rem;
  }
  #logo {
    max-width: 3rem;
  }
  #nav-menu {
    position: fixed;
    inset: 0 0 0 32%;
    margin-top: 0;
    padding-top: min(20vh, 9.5rem);
    flex-direction: column;
    gap: 1.6rem;
    z-index: 500;
    background-color: var(--almost-white);
    height: 100%;
    height: 100svh;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    opacity: 0;
  }
  #nav-menu[data-attribute="true"] {
    transform: translateX(0%);
    opacity: 1;
  }
  #nav-menu a {
    color: var(--space-blue);
    font-size: 1.2rem;
  }
  .menu-open-button {
    display: block;
  }
  /* #desktop-image {
    display: none;
  }
  #mobile-image {
    display: block;
  } */
}
@media (max-width: 500px) {
  nav,
  main {
    padding-inline: 5.5%;
  }
}
@media (max-width: 373px) {
  nav,
  main {
    padding-inline: 4%;
  }
}

#overlay {
  position: fixed;
  inset: 0 0 0 0;
  width: 100vw;
  width: 100%;
  height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
  z-index: 200;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden {
  display: none;
}